

<div class="center jumbotron">
  <h2><b>Welcome to the Casino testing application</b></h2>

  <h4>
    First - you must to Sign-up and then lets start!
  </h4>
  <%= link_to "Sign up now!", class: "btn btn-lg btn-primary" %>
</div>
<div class="main-img">
  <%= link_to image_tag("1.jpg", alt: "Casino logo") %>
</div>
